{
  "version": 6,
  "configurePresets": [
    {
      "name": "local-vcpkg-windows-ninja-qt5.15.2-x64-debug",
      "inherits": "vcpkg-windows-ninja-debug",
      "cacheVariables": {
        "CMAKE_PREFIX_PATH": "D:/Software/Development/Qt/5.15.2/msvc2019_64"
      },
      "environment": {
        "PATH": "D:/Software/Development/Qt/5.15.2/msvc2019_64/bin;$penv{PATH}"
      }
    },
    {
      "name": "local-vcpkg-windows-ninja-qt5.15.2-x64-release",
      "inherits": "vcpkg-windows-ninja-release",
      "cacheVariables": {
        "CMAKE_PREFIX_PATH": "D:/Software/Development/Qt/5.15.2/msvc2019_64"
      },
      "environment": {
        "PATH": "D:/Software/Development/Qt/5.15.2/msvc2019_64/bin;$penv{PATH}"
      }
    },
    {
      "name": "local-vcpkg-windows-ninja-qt5.15.2-x86-debug",
      "inherits": "vcpkg-windows-ninja-debug",
      "cacheVariables": {
        "CMAKE_PREFIX_PATH": "D:/Software/Development/Qt/5.15.2/msvc2019"
      },
      "environment": {
        "PATH": "D:/Software/Development/Qt/5.15.2/msvc2019/bin;$penv{PATH}"
      }
    },
    {
      "name": "local-vcpkg-windows-ninja-qt5.15.2-x86-release",
      "inherits": "vcpkg-windows-ninja-release",
      "cacheVariables": {
        "CMAKE_PREFIX_PATH": "D:/Software/Development/Qt/5.15.2/msvc2019"
      },
      "environment": {
        "PATH": "D:/Software/Development/Qt/5.15.2/msvc2019/bin;$penv{PATH}"
      }
    },
    {
      "name": "local-vcpkg-windows-ninja-qt6.11.0-x64-debug",
      "inherits": "vcpkg-windows-ninja-debug",
      "cacheVariables": {
        "CMAKE_PREFIX_PATH": "D:/Software/Development/Qt/6.11.0/msvc2022_64"
      },
      "environment": {
        "PATH": "D:/Software/Development/Qt/6.11.0/msvc2022_64/bin;$penv{PATH}"
      }
    },
    {
      "name": "local-vcpkg-windows-ninja-qt6.11.0-x64-release",
      "inherits": "vcpkg-windows-ninja-release",
      "cacheVariables": {
        "CMAKE_PREFIX_PATH": "D:/Software/Development/Qt/6.11.0/msvc2022_64"
      },
      "environment": {
        "PATH": "D:/Software/Development/Qt/6.11.0/msvc2022_64/bin;$penv{PATH}"
      }
    }
  ]
}
